
/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
  justify-content: center;
  background-color: black;
}
/* Custom design below! */

.text-center {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
}

.row {
  display: flex;
  justify-content: space-between;
}


.footer {
  color:white;
}

.surprise {
  opacity: 0;
  padding: 50px;
  font-size: 150px;
}

.surprise:hover {
  opacity: 1;
}


.banner {
  background-size: cover;
  background-position: center;
  background-color: black;
  justify-content: center;
}

.banner img {
  width: 100%;
  margin-left: 180px;
}

.secondary-banner {
  background-color: black;
}

.secondary-banner img {
  width: 100%;
  margin-left: 70px;
}

